
.border hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%; 
    margin-top: 25px;              
    background-color: grey;
    height: 5px;
  }

header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

.delicious {
    display: flex;
    flex-direction: row;
}

.title-text h2, h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.delicious img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title-text h2 {
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 30px;
    height: 35px;
}

.title-text h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9px;
    margin: 3px;
    width: 150px;
    padding: 0px;
    margin: 0px;
}

.social {
    margin-right: 10px;
}

.title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    height: 25px;
}

.title h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
    font-size: 15px;
}

.print {
    font-size: 10px;
}

.date-print {
    display: flex;
    flex-direction: rows;
}



  main {
      display: flex;
      width: 80%;
      height: 100%;
      flex-direction: column;
  }

.choco-pizza-image {
    display: flex;
    justify-items: center;
    width: 100%;
}



/* hr {
    border: 0;
    width: 100%;
    height: 5px;
    color: black;
} */


/* body {
    display: grid;
    grid-template-columns: 10% 15% 45% 20% 10%;
    grid-template-rows: 15%, 78%, 12%;
    
}

header {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
}

nav {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
/* }

main {
    grid-column-start: 2;
    grid-column-end: 5;
}

ul {
    background-image: url("./assets/list-bg.png");
}

li {
    list-style: none;
} 



footer {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.delicious {
    grid-column-start: 2;
    grid-column-end: 3;
} */

/* .delicious img {
    width: 40px;
    height: 40px;
}


.delicious h2{
    font-family: 'Pacifico', cursive;
    letter-spacing: .1rem; 
}

.delicious h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin: 5px;
    
}

.title */ 

