
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%; 
    margin-top: 25px;              
    background-image: url("./assets/hr-img.png");
    height: 5px;
    margin-bottom: 0px;
  }

.second-hr {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

.delicious {
    display: flex;
    flex-direction: row;
}

.title-text h2, h4 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.delicious img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title-text h2 {
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 30px;
    height: 35px;
}

.title-text h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9px;
    margin: 3px;
    width: 150px;
    padding: 0px;
    margin: 0px;
}

.social {
    margin-right: 10px;
}

.title h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    height: 25px;
}

.title h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
    font-size: 12px;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.date-print {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15px;
    margin-bottom: 20px;
}

.date-print img, h5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
    justify-content: flex-end;
    font-size: 15px;
}

.print {
    width: 40px;
    margin: 0;
}

.print-button {
    display: flex;
    flex-direction: row;
}


  main {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
  }

.choco-pizza-image {
    display: flex;
    justify-items: center;
    width: 100%;
}

main p {
    font-family: 'EB Garamond', serif;
    color: #696969;
    font-size: 16px;

}


ul {
    background-image: url("./assets/list-bg.png");
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
}

li {
    list-style: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 23px;
    color: #696969;
    margin-left: 50px;
} 

.column1, .column2 {
    margin-top: 35px;
    width: 400px;
}

.column1 {
    margin-left: 60px;
}

button {
    color: white;
    background-color: #BD6F58;
    border: none;
    justify-content: flex end;
    height: 50px;
    width: 175px;
    font-size: 15px;
    margin-top: 40px;
    
}

.about-me {
    display: flex;
    font-family: 'EB Garamond', serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-me img {
    width: 100px;
    height: 100px;
}

footer hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%; 
    margin-top: 25px;              
    background-color: lightgrey;
    height: 1px;
    position: relative;
    
}

footer img {
    position: relative;
}

.about-me-text {
    margin-left: 20px;
}

.about-me h2 {
    font-weight: bold;
    height: 10px;
    margin-bottom: 35px;
}

.about-me h3 {
    font-weight: normal;
    width: 80%;
}

footer {
    color: #696969;
    text-align: center;
    width: 100%;
    font-family: 'EB Garamond', serif;
}

footer img, h6 {
    padding: 0;
    margin: 5px;
}
